@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

h1{
    font-family: 'Rubik', sans-serif;

}

#gameBoard{
    background-color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#board{
    background-color: rgb(158, 158, 158);
height: 50%;
width: 70%;
border-radius:15px;
display: flex;
    align-content: space-between;
    justify-content: center;
}

.diskit{
    // background-color:();
    height: 60px;
    width: 60PX;
    margin-top: 13%;
    margin-bottom: 16%;
   
  
     border-radius:50px
}

#columns{
    background-color: rgb(141, 141, 141);
    

    margin-left: 1.5%;
    // margin-right: 2.5%;
   display: flex;
   flex-direction: column-reverse;

}